<%= javascript_include_tag "https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['line', 'corechart']}]}" %>
<%= javascript_include_tag 'flights/chart' %>

<div id="chart" class="chart-dim"></div>
