<% @trips.each_slice(2) do |trip_pair| %>
  <div class="row">
    <% trip_pair.each do |trip| %>
      <div class="col-xs-6">
        <div class="row" style="text-align: center;">
          <%= content_tag :h1, "#{trip.get_sources} to #{trip.get_destinations}" %>
        </div>
        <div class="row">
          <% # turbolinks is awesome, but it can cause discord sometimes as well, such as here. turbolinks causes %>
          <% # the body and title in the head to be replaced, but this is causing the google doc javascript in the %>
          <% # header not to be executed and thus the graph not loading. This is remedied by specifying the link %>
          <% # to be fully fetched. There may be a more optimal way to do this so that the entire HTML header is not %>
          <% # reloaded. %>
          <div data-no-turbolink>
            <%= content_tag :a, :href => "/flights/#{trip.id}" do %>
              <%= image_tag 'http://www.mapsofworld.com/flags/images/world-flags/Republic-of-korea-flag.jpg', :class => 'img-rounded img-responsive', :style => 'margin: auto;' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <br>
  </div>
<% end %>
