<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Benjamyn</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li>
        <%= link_to home_home_path, :class => 'navbar-link' do %>
            <% content_tag(:div, '', :id => 'home', :class => @selected_map[:home] ? 'navbar-selected' : 'navbar-unselected') %>
        <% end %>
      </li>
      <li>
        <%= link_to home_photos_path, :class => 'navbar-link'  do %>
            <%= content_tag(:div, '', :id => 'photos', :class => @selected_map[:photos] ? 'navbar-selected' : 'navbar-unselected') %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
