<%= content_tag :h1, @album[:title] %>

<% @album[:thumbnails].each_slice(3) do |three_thumbs| %>
    <div class="row">
      <% three_thumbs.each do |thumbnail| %>
          <%= content_tag :div, :class => 'col-xs-4' do %>
              <%= content_tag :a, :href => thumbnail[:href] do %>
                  <%= image_tag thumbnail[:path], :class => 'img-rounded img-responsive img-size lazy', lazy: true %>
              <% end %>
              <br>
          <% end %>
      <% end %>
    </div>
<% end %>
