<div id="page-container">

  <div id="header"></div>

  <div id="left-bar">
    Left Bar
  </div>

  <div id="content">
    Content
  </div>

  <div id="right-nav">
    <h2>BENJAMYN</h2>
    <ul>
      <li><%= image_tag('nav_images/home.png', :width => '80%') %></li>
      <li>Blog</li>
      <li>Photos</li>
      <li>Computer Science</li>
      <li>Contact</li>
    </ul>
  </div>

  <div id="footer">
    Powered by Ruby on Rails. Entire website is copy left - use whatever you want!
  </div>

</div>
