<% @albums.each do |album| %>
    <div class="row">
      <%= content_tag :h1, album[:title] %>
    </div>
    <div class="row">
      <%= content_tag :a, :href => album[:href] do %>
          <%= image_tag album[:cover], :class => 'img-rounded img-responsive' %>
      <% end %>
    </div>
    <br>
<% end %>
