/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

body
{
  background: image-url('left_space_tree.png') no-repeat left 50px fixed black;
  background-size: contain;
  padding-top: 50px; // for the navigation bar
}

.navbar-header
{
  padding-right: 80px;
}

.navbar-unselected
{
  background-position: left 0;
}

.navbar-unselected:hover
{
  background-position: left -42px;
}

.navbar .navbar-selected
{
  background-position: left -84px;
}

.navbar-selected:hover
{
  background-position: left -126px;
}

.navbar .word
{
  background-repeat: no-repeat;
  overflow: hidden;
  margin-top: 4px;
  height: 42px;
}

.navbar #home
{
  @extend .word;
  width: 118px;
  background-image: image-url('nav_images/nav_home.png');
}

.navbar #photos
{
  @extend .word;
  width: 148px;
  background-image: image-url('nav_images/nav_photos.png');
}

.navbar #flights
{
  @extend .word;
  width: 152px;
  background-image: image-url('nav_images/nav_flights.png');
}

.navbar .navbar-link
{
  padding: 0 30px 0 0;
}
